[2021-10-03 12:39] SANJAY-NT opened #14 "Want to add a user.json file"
Want to add a username.json file as my 1st commit to the fest 21.

[2021-10-03 12:54] keshavsingh4522 commented on #14
i have merged your PR, you can suggest some more non-tech folder that can be used in future by someone.

[2021-10-03 16:58] shubhamhere commented on #14
Can i add a username.json file as my 1st commit to the fest 21

[2021-10-03 18:27] Preetojha08 opened #57 "Want To Add PHP Programs With Its Respected Folder"
I want to add the PHP Program to the respected Folder which have different functionalities.

[2021-10-04 01:34] Sagun-png opened #80 "Want to add a username.json file as my 1st commit to the fest 21."

[2021-10-04 01:34] Sagun-png commented on #80
Want to add a username.json file as my commit to the fest 21.

[2021-10-04 08:30] keshavsingh4522 commented on #14
your file name should be **shubhamhere.json**
yes you can add.

[2021-10-04 09:12] soil-droid commented on #14
hello, my pr has been approved and closed , would be great if you tag it with "hacktoberfest-accepted"
thank you

[2021-10-04 09:16] IshaanGaba97 commented on #14
My PR is merged but can you please add "hacktoberfest-accepted" in #23 **pull request**
Thanks!!

[2021-10-04 10:14] keshavsingh4522 commented on #14
if pr is merged then it will aslo be valid pr for getting swags or tshirts.

[2021-10-04 16:13] ShivamChoudhary17 opened #1613 "I have projects in python, may I add it in python folder."
It is a Project related to GUI(to check weather of different city by searching on it).

[2021-10-04 18:02] shlokjjw commented on #14
Please merge my PR #153
Thanking You,
Shlok Jhunjhunwala

[2021-10-05 03:59] Omgupta0312 commented on #1613
hello sir,
I have made a project which is related to image processing. If possible assign me this task to add this project.

regards

[2021-10-05 04:29] Omgupta0312 opened #1677 "Feature: Maximum_sum_contiguous subarray (cpp implementation)"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-10-05 04:32] #1677 closed, assigned to nobody

[2021-10-05 05:39] priyanka-p01 opened #1688 "Feature:"
### Is your feature request related to a problem? Please describe.

There arent much of projects in the HTML/CSS section of this repository

### Describe the solution you'd like
I have a couple of web development projects I would like to contribute, for Hacktoberfest contributions

### Describe alternatives you've considered

These projects of mine are desgined as single page websites and will hel

[2021-10-05 06:32] par1hsharma opened #1699 "ML algorithms written from Scratch"
I want to contribute in Hackotober 2021 by adding ML algorithm written from scratch . This may help beginners to understand the algorithm deeply

[2021-10-05 06:55] bidishaMondal7 commented on #57
Hi,
Can you please clarify the issue a bit , like do you want to add  specific functionality with PHP program in separate PHP folder?

[2021-10-05 07:13] afashani opened #1707 "Feature: Shall I add missing algorithms in java folder?"
### I saw Java folder can be filled with some more algorithms.

### the solution i suggest

[2021-10-05 07:21] ANUSHRAVGARG commented on #1613
i have made a website on artist work so can I add my work also a pull request needed as it is my first pr so ,help needed

[2021-10-05 08:31] sonal019 opened #1719 "Modified code for Password generator in C++"
#include<iostream>
#include<cstdlib>
#include<ctime>
using namespace std;
static const char alphnum[]="0123456789" "!@#$%^&*" "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "abcdefghijklmnopqrstuvwxyz";
int strLen=sizeof(alphnum)-1;
char GenRand()
{
 return alphnum[rand()%strLen];
}
 int main()
 {
  int n,c=0,s=0;
  srand(time(0));
  cout<<"Enter the length of the password required:";
  cin>>n;
  cout<<n<<endl;
  c

[2021-10-05 10:09] Harshu34 opened #1740 "feature:CNNs implementation"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-10-05 10:09] mohduvesh01 opened #1741 "Feature: CNNs implemention"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-10-05 10:12] mohduvesh01 opened #1742 "Feature: new issue"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-10-05 10:15] khushijain3103 opened #1744 "want to add sudoku solver solution #LEETCODE"
I want to add solution of Sudoku Solver Leetcode using Backtracking .

Leetcode Question link : https://leetcode.com/problems/sudoku-solver/

![image](https://user-images.githubusercontent.com/85082142/136001097-04852e75-d314-43f0-a725-4d69289895b1.png)

![image](https://user-images.githubusercontent.com/85082142/136001359-456a3701-abe9-425d-8a6e-23fe102a554d.png)

![image](https://user-images.git

[2021-10-05 10:28] SHIVANGISINGH1 opened #1745 "Leetcode Problem 22 : Generate Parenthesis (Simple Backtracking C++ solution)"
### Is your feature request related to a problem? Please describe.

Yes , I would like to add solution of problem Generate Parenthesis
Link of the problem : https://leetcode.com/problems/generate-parentheses/

### Describe the solution you'd like

I have solved the problem using Backtracking , at first generated all the possible combinations of parenthesis and then checked
for opening and closing

[2021-10-05 10:30] yashikakaushik opened #1747 "I want to add the solution to Letter Case Permutation problem on Leetcode (784) using backtracking."
Hi! I want to add the solution to problem 784 (Letter Case Permutation) on Leetcode using concepts of recursion and backtracking.

Here is the description for the problem:
<img width="531" alt="Screenshot 2021-10-05 at 3 50 14 PM" src="https://user-images.githubusercontent.com/57990459/136005480-b61e214d-5768-4840-b036-4ea0e2cfd8f8.png">

<img width="537" alt="Screenshot 2021-10-05 at 3 50 46 PM"

[2021-10-05 12:12] gargi111 opened #1757 "Feature: I want to add red black tree program"
### Is your feature request related to a problem? Please describe.

In DSA folder red black tree program in not available.

### Describe the solution you'd like

I want to add red black tree program.

### Describe alternatives you've considered

I will write program in Python.

### Additional context

[2021-10-05 12:20] gargi111 commented on #80
I Want to add a username.json file as my commit to the Hactoberfest 21

[2021-10-05 12:23] gargi111 opened #182 "Want to add Python program within a specific folder."

[2021-10-05 12:23] gargi111 opened #183 "Want to add Python program within a specific folder."

[2021-10-05 12:59] Candida18 opened #1763 "Machine Learning Algorithms"
### Describe the solution you'd like

The folder `Machine Learning` aims to list the most popular and in demand ML Algorithms

[2021-10-05 14:33] ghost opened #1779 "Feature: Need binary search solution for allocation for minimum number of books question"
https://practice.geeksforgeeks.org/problems/allocate-minimum-number-of-pages0937/1#
This is the question link

[2021-10-05 15:22] BrunoPB commented on #1779
Hi! I would like to do this question.
This is my first Hacktoberfest, what should I do now?
Does this issues need to be assigned to me or I just resolve it and pull a request?

[2021-10-05 15:27] heenahmed commented on #1744
Please assign this issue to me.

[2021-10-05 15:28] keshavsingh4522 commented on #182
This repo is not for this.

[2021-10-05 15:28] #183 closed

[2021-10-05 15:38] Aryan-Srivastava opened #1791 "Feature: Solution for find peak element"
### Problem -

A peak element is an element that is strictly greater than its neighbors.

Given an integer array nums, find a peak element, and return its index. If the array contains multiple peaks, return the index to any of the peaks.

You may imagine that nums[-1] = nums[n] = -∞.

You must write an algorithm that runs in O(log n) time.

### Describe the solution you'd like

will be adding the

[2021-10-05 15:40] Aryan-Srivastava opened #1792 "Feature: koko eating bananas problem"
Koko loves to eat bananas. There are n piles of bananas, the ith pile has piles[i] bananas. The guards have gone and will come back in h hours.

Koko can decide her bananas-per-hour eating speed of k. Each hour, she chooses some pile of bananas and eats k bananas from that pile. If the pile has less than k bananas, she eats all of them instead and will not eat any more bananas during this hour.

K

[2021-10-05 15:44] nimishh7 commented on #1792
Hi @keshavsingh4522, can you please assign this to me in c++ ?

[2021-10-05 15:45] Aryan-Srivastava opened #1793 "Feature: Search a 2D matrix"
Write an efficient algorithm that searches for a value in an m x n matrix. This matrix has the following properties:

- Integers in each row are sorted from left to right.
- The first integer of each row is greater than the last integer of the previous row.

will be adding the solution for above [problem](https://leetcode.com/problems/search-a-2d-matrix/)

[2021-10-05 15:48] Aryan-Srivastava opened #1794 "Feature: Arranging coins"
You have n coins and you want to build a staircase with these coins. The staircase consists of k rows where the ith row has exactly i coins. The last row of the staircase may be incomplete.

Given the integer n, return the number of complete rows of the staircase you will build.

**will be adding the solution for the above [problem](https://leetcode.com/problems/arranging-coins/)**

[2021-10-05 15:51] Aryan-Srivastava opened #1796 "Feature: sqrt(x)"
Given a non-negative integer x, compute and return the square root of x.

Since the return type is an integer, the decimal digits are truncated, and only the integer part of the result is returned.

Note: You are not allowed to use any built-in exponent function or operator, such as pow(x, 0.5) or x ** 0.5.

**will provide the solution for the above [problem](https://leetcode.com/problems/sqrtx/)

[2021-10-05 15:57] Aryan-Srivastava opened #1798 "Feature: Two Sum II - Input array is sorted"
Problem - [Two Sum II - Input array is sorted](https://leetcode.com/problems/two-sum-ii-input-array-is-sorted/)

Given a 1-indexed array of integers numbers that is already sorted in non-decreasing order, find two numbers such that they add up to a specific target number. Let these two numbers be numbers[index1] and numbers[index2] where 1 <= first < second <= numbers.length.

Return the indices o

[2021-10-05 16:07] Aryan-Srivastava commented on #1798
@keshavsingh4522 mark this issue as up-for-grabs

It's a beginner friendly problem using `two pointer approach`, If anyone wants to work on this issue, you can ask for assigning this issue to you.

[2021-10-05 16:09] manmohan-dwivedi commented on #1798
I want to work on this issue using java please assign me.

[2021-10-05 16:23] arjunpundir1106 commented on #1796
@Aryan-Srivastava please assign this issue to me, will work in cpp

[2021-10-05 16:27] sru123p commented on #1798
I want to work on this issue using C++, I will make sure I use well-structured code with proper comments
Please assign this to me

[2021-10-05 16:28] Aryan-Srivastava commented on #1796
Ask project maintainer @keshavsingh4522.

[2021-10-05 16:29] arjunpundir1106 commented on #1796
@keshavsingh4522 can i work on this issue?

[2021-10-05 16:36] vishal-kumar-saw commented on #1794
Hello, @Aryan-Srivastava  Please assign me this task as I want to contribute for this.

[2021-10-05 17:50] harshit7962 commented on #1699
Hi, I am curious on knowing about this issue...
Can you please elaborate a bit more, as to which algorithm and what kind of machine learning model is to be implemented...

[2021-10-05 18:09] paridhi-jain-047 opened #1830 "Feature: Adding search-in-rotated-sorted-array.cpp file in cpp->LeetCode folder"
I would like to add my Leetcode solution which is plagiarism free. And it also includes the efficient approach of solving the given problem statement.

Leetcode problem statement link:-https://leetcode.com/problems/search-in-rotated-sorted-array/

#1828 is my pull request ID.

Hope for a positive response.

[2021-10-05 18:18] aamangupta opened #1831 "Feature: Morris Traversal"
### Is your feature request related to a problem? Please describe.
Ques Link: https://leetcode.com/problems/binary-tree-postorder-traversal/

It is postorder traversal of binary tree.
### Describe the solution you'd like
I am proposing to do it through Morris Traversal.

Through this traveral the Space Complexity : O(1)
and Time Compexity : O(n)

### Additional context
Please approve this and let

[2021-10-05 18:23] aamangupta opened #1833 "Feature: Serialise and Deserialise a Binary Tree (Hard) on LeetCode"
### Is your feature request related to a problem? Please describe.
Here is the Ques. link : https://leetcode.com/problems/serialize-and-deserialize-binary-tree/

Serialization is the process of converting a data structure or object into a sequence of bits so that it can be stored in a file or memory buffer, or transmitted across a network connection link to be reconstructed later in the same or an

[2021-10-05 18:53] dollygupta07 commented on #1798
Hi, I want to contribute to this issue. Can you please assign this to me?
Thank you.

[2021-10-06 02:08] 0xn1k commented on #1831
please assign it to me i will do in c++.

[2021-10-06 02:16] 0xn1k commented on #1793
please assign it to me i will do in c++

[2021-10-06 02:48] lrnzdc3696 opened #1862 "Feature: I want to make a BMI calculator"
### Is your feature request related to a problem?
Please describe.
I have not seen a BMI calculator in python folder yet

### Describe the solution you'd like

make one and add it

### Describe alternatives you've considered

I will make it

### Additional context

It's just a cli

[2021-10-06 03:05] riyakushwaha commented on #1688
Hii, i already made a pull request adding a js project before adding such issue. And it is showing that your repository has been excluded. So it is not accepting it as a valid contribution. Could you please tell me what went wrong?

[2021-10-06 03:44] FinalGetsugaa opened #210 "Different Algos Implementation in CPP"
Will Provide Implemetation of various important Algorithms used in Competitive Programming in C++ Language

[2021-10-06 04:03] kartik0406 opened #1869 "Feature: Added Cyclic sort"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-10-06 04:11] par1hsharma opened #1870 "This Repo is EXCLUDED from Hacktoberfest 2021"
<img width="981" alt="Screenshot 2021-10-06 at 9 39 02 AM" src="https://user-images.githubusercontent.com/38254878/136139478-5dacef70-1bff-40c0-9982-da58dba5236f.png">

[2021-10-06 04:11] par1hsharma commented on #1870
this is why !

<img width="1318" alt="135751100-698fea9f-d534-453a-8cf7-032276f9eb37" src="https://user-images.githubusercontent.com/38254878/136139518-8650926a-71e0-43b7-8ece-84d37fe0a02a.png">

[2021-10-06 04:44] fawzaanshaikh commented on #1793
Please assign the issue to me, I can provide solutions in C, C++, Java and Python, whichever you'd like.

[2021-10-06 06:58] Agamjot12 commented on #1798
Hi , I would really like to contribute to this issue . Please assign this issue to me .
Thank you .

[2021-10-06 07:13] Ayaan2907 opened #219 "Hacktoberfest 21 is not accepting pull requests on this repository as hacktoberfest contribution"
The message is that this repository is not following hacktoberfest guidelines.

[2021-10-06 08:09] PurviBhoyar21 opened #225 "Adding interesting cpp code to implement vending drinking machine"

[2021-10-06 09:03] ghost commented on #1862
can i work on this issue please assing me if possible

[2021-10-06 09:04] ghost commented on #1791
can i work on this issue please assing me if possible i would love to contribute in this

[2021-10-06 10:10] ad-cell commented on #1870
how to know if a repo is excluded or not ? i am a beginner here .Thanks

[2021-10-06 11:22] par1hsharma commented on #1870
@SalientAuthor  Be careful what you write here
![image](https://user-images.githubusercontent.com/38254878/136193439-aafcf3de-9fe6-4631-94d9-bc55283e0b13.png)

[2021-10-06 11:27] par1hsharma commented on #1870
@SalientAuthor
![image](https://user-images.githubusercontent.com/38254878/136193977-596fe399-7b72-4a0b-9a17-697681b28112.png)

[2021-10-06 11:53] Spardha-hash commented on #1870
Means the pr contributed in this repo will not be counted?

[2021-10-06 11:56] par1hsharma commented on #1870
PR contributed in this repo will not be counted towards Hackotoberfest 2021

[2021-10-06 12:10] kavya2008 opened #1926 "floyd warshall algorithm"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-10-06 13:16] Oaparecido opened #1931 "🔥 Project excluded!"
## 🚨 This project was marked how excluded in hacktoberfest, please you have more informations about this ?!

- Below image:

<img width="1312" alt="Screen Shot 2021-10-06 at 10 10 24 AM" src="https://user-images.githubusercontent.com/42935458/136209686-6f8dc39f-1b8a-433c-88c3-b1c80f752386.png">

[2021-10-06 13:50] mandathompson opened #1935 "Feature: Matching Game in JS"
I'd like to add a photo/card matching game in JavaScript

[2021-10-06 16:06] keshavsingh4522 commented on #219
Can you please check and tell me again here.

[2021-10-06 17:13] SalientAuthor commented on #1870
@par1hsharma thanks, man. At first, I was thinking that it's all about the label or tag.

[2021-10-06 17:15] SalientAuthor commented on #1931
Clearly, It's an excluded project. we should do contribute somewhere else.
for more info/proofs check issue  #1870

[2021-10-06 18:51] Chetanverma93 commented on #1831
please assign it to me i am good in c++

[2021-10-07 06:08] Pulkit007 opened #2013 "Feature: Add some sorting algorithms for DSA folder"
Add some common used sorting algorithm

[2021-10-07 06:09] Pulkit007 commented on #2013
https://github.com/keshavsingh4522/hacktoberfest2021/pull/2012  PR submitted.

[2021-10-07 06:35] Devika0713 opened #2014 "Feature: Compute all possible roots of quadratic equation"
I can contribute a C program that can compute all the possible roots of a quadratic equation. Can you please assign this to me?

[2021-10-07 06:40] ghost commented on #1779
Yeah you can resolve it

[2021-10-07 07:38] Bahukhandi93 commented on #1779
Please assign this to me. Thank you!

[2021-10-07 08:59] Nightowl-8 commented on #1796
@keshavsingh4522 can i contribute to this issue?

[2021-10-07 09:46] abhijeet-crypto commented on #1796
@keshavsingh4522 can i work on this issue?

[2021-10-07 10:10] imps1001 commented on #1798
Hi, I would like to contribute in this issue. Please assign this issue to me.

[2021-10-07 12:09] aishwarya-mocherla commented on #2014
i can add a python program to complete this task, please allow me to do so for hacktoberfest 2021

[2021-10-07 14:22] nouran-ahmed-ebrahim commented on #1798
Hello, I would really like to contribute to this issue. Please assign this issue to me.
Thanks.

[2021-10-07 16:20] saaimsid commented on #2014
Hey! Great to see everyone contributing here. Can I be assigned to this issue?

[2021-10-07 17:03] zhcet19 commented on #1779
@BrunoPB  this repo doesn't count in hacktoberfest

[2021-10-07 18:17] wasda-exe commented on #1926
I'd like to take a look at this problem. Thanks !

[2021-10-07 18:29] Shivani-001 commented on #1793
Please assign this issue to me i will do in c language

[2021-10-08 01:27] rizkytegar commented on #1931
project excluded

[2021-10-08 13:06] amellptrr commented on #1870
hi, i've been created pull request in this repo, can you merge my change?

[2021-10-08 13:25] sahilvaidya13 commented on #1796
I want to work on it. Kindly assign if it is still open.

[2021-10-08 15:58] Zafeer-R commented on #1798
I can work on this issue with a very optimal and good solution.
Please assign this to me.

[2021-10-08 16:44] BrunoPB commented on #1779
@zhcet19

But it has the label "hacktoberfest-accepted". Are you sure it doesn't?

[2021-10-08 18:24] par1hsharma commented on #1870
@amellptrr There is no point merging this repo is excluded from the hackotoberfest 2021.

[2021-10-08 20:38] hemangdtu commented on #1745
I would like to work on this issue. Could you please assign this to me?

[2021-10-09 04:12] anuragnewbie commented on #2013
Hello @keshavsingh4522  sir ! Sir, I want to add the C++ code for wave sort array program to this issue. Can you please assign it to me sir?

[2021-10-09 04:12] Rajpreetkaur02 commented on #2013
I want to add the C++ code for BUCKET SORT , DNF SORT and WAVE SORT.
please assign this to me.

[2021-10-09 04:21] Rajpreetkaur02 commented on #1869
I can add the C++ code for cyclic sort.
I will use swapping to solve this problem.
please assign this to me.
@kartik0406
@keshavsingh4522

[2021-10-09 06:59] zhcet19 commented on #1779
@BrunoPB On the website of hacktoberfest this repo has been marked as invalid repo hence even with label no pr would be counted as a valid pr

[2021-10-09 08:18] tanushsavadi opened #2204 "Feature: Photographic Mosaic with Python"
### Describe the solution you'd like
This program generates a Photographic Mosaic based on the original image.

### Additional context
I want to work on this issue, **_please assign it to me_** under hacktoberfest 2021. If there are any questions, please do let me know. I am happy to clarify!

Kind regards,
Tanush

[2021-10-09 14:20] raizenxd opened #2230 "Feature: Add Flutter Projects"
### Is your feature request related to a problem? Please describe.
there are flutter developers

### Describe the solution you'd like
Have a folder for Flutter developers

[2021-10-09 16:21] #14 closed

[2021-10-09 16:55] atanughosh01 opened #2254 "Feature: CDMA multiple channel access implementation"
### Is your feature request related to a problem? Please describe.

Hey @keshavsingh4522,  I believe there should be a mini-project on Computer Networking concepts.

### Describe the solution you'd like.

I would like to contribute Walsh encoded **CDMA multiple channel access implementation** using python to this project for Hacktoberfest21.

Will you please assign me this issue?

Thanks and regar

[2021-10-09 18:10] RichieJacob342 commented on #80
Want to add a username.json file as my first commit to the fest 2021

[2021-10-10 05:36] prajna-spec commented on #1931
It says  project is excluded

[2021-10-10 05:47] vishalrajofficial commented on #2013
please assign it to me

[2021-10-10 06:28] Anuj123verma commented on #2013
Hi, I want to add all the sorting algorithms in Java.
Please assign to me @keshavsingh4522.
Thanks,

[2021-10-10 07:42] anugyaparashar opened #2288 "Feature: Add Leetcode Valid Sudoku Solution"
Hey, I want to add  Valid Sudoku problem and solution in the CPP/Leet Code Solutions/ repository. @keshavsingh4522  Please assign me this.

### Is your feature request related to a problem? Please describe.

The problem that I will be working on is:
https://leetcode.com/problems/valid-sudoku/

[2021-10-10 07:51] anugyaparashar opened #2290 "Feature: Add a new repository for SQL"
### Is your feature request related to a problem? Please describe.
This repository contains a wide range of topics. It would be good to have a repository for **SQL** queries.

### Describe the solution you'd like
I would like to work on adding SQL questions to this project as a part of **HacktoberFest 2021**. It will contain SQL questions on various topics like DDL, DML, select, Joins, etc. Please

[2021-10-10 11:28] lmas3009 opened #2306 "Feature: Added XOROfprimeNumbers program in python"
### Is your feature request related to a problem? Please describe.
XOROfprimeNumbers  program

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-10-10 11:33] #2306 closed, assigned to nobody

[2021-10-10 12:03] soumyajit1999 commented on #2288
I want to contribute please assign me

[2021-10-10 15:27] DishantIsrani opened #2325 "Feature: Add quick sort in C"
I would love to implement the solution of quick sort in C

[2021-10-10 16:56] svareed commented on #2325
Please assign me this issue

[2021-10-10 17:02] vivekarora-02 commented on #1830
Hey there,
Can you please assign me this issue?

ThankYou!

[2021-10-10 17:02] vivekarora-02 commented on #2325
Hey there,
Can you please assign me this issue?

ThankYou!

[2021-10-10 17:02] vivekarora-02 commented on #2290
Hey there,
Can you please assign me this issue?

ThankYou!

[2021-10-10 17:02] vivekarora-02 commented on #1935
Hey there,
Can you please assign me this issue?

ThankYou!

[2021-10-10 17:29] mukul-web commented on #2325
I would like to work on this issue.. Please assign me this !

[2021-10-10 18:09] viratsharma56 commented on #2288
I want to contribute in this. Please assign this to me

[2021-10-10 18:26] shubhamshah14102 commented on #2325
Hey ,
Would like to implement the the quick sort in c .
please assign this issue to me

[2021-10-10 18:27] shubhamshah14102 commented on #1798
Hello, I would really like to contribute to this issue. Please assign this issue to me.
Thanks.

[2021-10-10 18:28] shubhamshah14102 commented on #1796
Hi,
Can you please assign this issue to me.
Would like to solve this using java

[2021-10-10 18:29] shubhamshah14102 commented on #1794
Hi,
Can you please assign this issue to me.
Would like to solve this using java

[2021-10-11 02:00] Prashima01 opened #346 "Contributing to the hacktoberfest 2021 with python program for face detection"
# Creating database
# It captures images and stores them in datasets
# folder under the folder name of sub_data
import cv2, sys, numpy, os
haar_file = 'haarcascade_frontalface_default.xml'

# All the faces data will be
# present this folder
datasets = 'datasets'

# These are sub data sets of folder,
# for my faces I've used my name you can
# change the label here
sub_data = 'vivek'

path = os.path

[2021-10-11 04:37] Khushi-Mattu commented on #2325
Hey, i would like to work on this issue. please assign it to me!

[2021-10-11 06:53] sonal019 commented on #2325
Please assign me this issue

[2021-10-11 07:09] nishantpathak27 commented on #2288
I want to contribute in this. Please assign this to me

[2021-10-11 07:09] nishantpathak27 commented on #2325
I want to contribute in this. Please assign this to me

[2021-10-11 10:24] sajjkavinda opened #2376 "Excluded from Hacktoberfest 2021"

[2021-10-11 12:00] ghost commented on #1763
please assign this to me.
@keshavsingh4522
@Candida18

[2021-10-12 03:03] lrnzdc3696 commented on #1862
guys just make your own idea
don't take someone else's idea and make it.

[2021-10-12 05:29] lrnzdc3696 opened #2423 "Feature: Java Version of BMI Calcu"
### Is your feature request related to a problem? Please describe.
BMI calculator but in Java

### Describe the solution you'd like
I will make it

### Describe alternatives you've considered
nothing

### Additional context
it is the direct language traslation of my bmi calculator that I will be pull requesting

[2021-10-12 05:59] ghost commented on #1862
can i you please assing me this issue

[2021-10-12 15:26] Alam9835 commented on #2013
I want to contribute to this project

[2021-10-12 16:07] Malik-Abdulaziz-Akbar opened #2459 "Feature: Multi-Variable Linear Regression Algorithm of Normal Equation"
### Is your feature request related to a problem? Please describe.

My feature is an algorithm to solve the Machine Learning Problem known as Regression

### Describe the solution you'd like

My solution is a Linear Regression Training Algorithm which uses Normal Equation for training the model

### Describe alternatives you've considered

### Additional context

[2021-10-12 16:09] #2459 closed, assigned to nobody

[2021-10-12 16:15] Malik-Abdulaziz-Akbar opened #2461 "Feature: Logistic Regression Algorithm (Machine Learning)"
I will add a Logistic Regression Algorithm (implemented in python). Please assign this to me.

[2021-10-12 16:18] Malik-Abdulaziz-Akbar opened #2462 "Feature: Support Vector Machine Application"
I will add a Support Vector Machine (SVM) application which trains on IRIS dataset and uses a linear classifier to classify an input data.

[2021-10-12 16:22] AksPa28 commented on #2288
Hey, I want to contribute to this issue in C++ language please do assign to me.

[2021-10-12 17:04] Ayushi912 commented on #2288
i would like to give a c++ solution to this issue . please assign me this

[2021-10-12 17:07] Ayushi912 commented on #1830
please assign me this issue. i would like to give a c++ solution.

[2021-10-12 17:07] Ayushi912 commented on #1831
please assign me this issue. i would like to give a c++ solution.

[2021-10-12 17:07] Ayushi912 commented on #1793
please assign me this issue. i would like to give a c++ solution.

[2021-10-12 17:08] Ayushi912 commented on #1779
please assign me this issue. i would like to give a c++ solution.

[2021-10-12 17:08] Ayushi912 commented on #1745
please assign me this issue. i would like to give a c++ solution.

[2021-10-13 03:54] nemynigam opened #396 "this project is excluded it means every ones pull reqest not accepted and counted ???"
this project is excluded it means every ones pull reqest not accepted and counted ???

[2021-10-13 05:10] JaiAravindh-git opened #400 "It shows the Excluded project"

[2021-10-13 07:24] Bhojraj-Kumar commented on #2325
May i contribute!!

[2021-10-13 09:58] Shubh8434 commented on #2325
plz assign it to me?

[2021-10-13 11:37] aakankshaagr opened #2521 "Feature: Voice Assistant in python"
### Is your feature request related to a problem? Please describe.

I will create a voice assistant which will search in chrome whatever you say
### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-10-13 13:21] qasim0014 opened #2532 "Selection Sort Algorithm"
### Is your feature request related to a problem? Please describe.

Yes, I want to implement Selection sort algorithm in Java

### Describe the solution you'd like

I will make all the necessary CRUD operation methods

### Describe alternatives you've considered

Nope, since it is specific algorithm

### Additional context

Will add comments in all methods

[2021-10-13 13:43] Abhishek-PratapSingh commented on #1935
@keshavsingh4522 i would add match game . Would you like to allow it?

[2021-10-13 14:51] bunish commented on #2325
Hey, I can help resolve this issue. Please assign it to me.

[2021-10-13 14:51] bunish commented on #2288
Hey, I can help resolve this issue. Please assign it to me.

[2021-10-13 14:51] bunish commented on #1935
Hey, I can help resolve this issue. Please assign it to me.

[2021-10-13 14:52] bunish commented on #2013
Hey, I can help resolve this issue. Please assign it to me.

[2021-10-13 14:52] bunish commented on #2230
Hey, I can help resolve this issue. Please assign it to me.

[2021-10-13 14:52] bunish commented on #2423
Hey, I can help resolve this issue. Please assign it to me.

[2021-10-14 02:25] Vighnesh1234 opened #2568 "Feature: Analyzing twitter data related to Covid-19"
### Is your feature request related to a problem? Please describe.
Sentiment analysis using ML algorithms

I would like to analyze the sentiment of Twitter data related to covid-19 and generate the score.
### Describe the solution you'd like
I would like to explore the various algorithms associated with Sentiment analysis in python and compare them. This will create a pipeline with various algorit

[2021-10-14 02:44] Vighnesh1234 opened #2570 "Feature: Churn analysis using random forest algorithm"
### Is your feature request related to a problem? Please describe.
This feature is related to the problem of customers opting new products and leaving old products

### Describe the solution you'd like
I will apply Random forest on the customer dataset and classify the customers based o the score. The customers who are more likely to leave can be approached with better discounts.

### Describe alt

[2021-10-14 05:39] prehans commented on #2532
Yes, I want to implement Selection sort algorithm in cpp.
@qasim0014

[2021-10-14 09:41] Shubh8434 commented on #2532
I add not only selection sort but all the sorting algorithm in one program plz assign it to me @qasim0014 ?

[2021-10-14 11:13] ShiviDev opened #2594 "Feature: Calculator to compute volume of common 3D shapes in C"
### Is your feature request related to a problem? Please describe.

Calculator to compute volume of common 3D shapes in C.
This will be particularly useful to students who have to compute volumes since this abstracts and simplifies the whole process.

### Describe the solution you'd like

User picks the shape of choice and inputs relevant dimensions. Volume will be returned.

### Additional contex

[2021-10-14 11:13] ShiviDev commented on #2594
Can I work on this?

[2021-10-14 11:18] ShiviDev opened #2595 "Feature: C program to simulate unit conversion calculator"
### Is your feature request related to a problem? Please describe.

Unit conversion is a very common problem and this program aims to solve it by providing a variety of conversion options across different quantities.

### Describe the solution you'd like

A calculator C program that allows the user to convert between units of choice in the required physical quantity (mass, length etc)

### Additio

[2021-10-14 11:18] ShiviDev commented on #2595
Can I work on this?

[2021-10-14 11:23] ishita3513 commented on #2532
I am happy to get the opportunity to contribute to this issue of selection sort  @qasim0014.

[2021-10-14 17:10] drashtipatel2503 opened #2618 "Feature: News app"
### fetches latest new from api and links directly it to its main source

[2021-10-14 17:10] drashtipatel2503 commented on #2618
please assign me this under hacktoberfest 2021

[2021-10-15 01:27] stellaephile opened #2626 "Feature:"
An API for fetching audio books from open source domain relevant to keyword added by the user. User can play audio book in an interactive window.

[2021-10-15 01:27] stellaephile commented on #2626
Please assign me this for hacktoberfest

[2021-10-15 03:35] vishal-kumar-saw opened #2628 "Feature: CSES - Edit Distance"
### Is your feature request related to a problem? Please describe.
Yes. It is related to the CSES problem set.

The edit distance between two strings is the minimum number of operations required to transform one string into the other.

The allowed operations are:
 ->Add one character to the string.
 ->Remove one character from the string.
 ->Replace one character in the string.
### Describe the so

[2021-10-15 03:36] vishal-kumar-saw commented on #2628
@keshavsingh4522 sir, kindly assign me the above issue. I want to work in cpp language. Please assign me. Thank you.

[2021-10-15 05:59] vinayaks0031 opened #2631 "Js mini Project : "Key-Sounds""
### Is your feature request related to a problem? Please describe.

There should be JS codes for the Key-Sounds project.

### Describe the solution you'd like

I want to add js mini project. @keshavsingh4522

Please assign this to me.

[2021-10-15 06:04] vaishnavisaindane commented on #2532
I want to contribute to this issue of selection sort in java @qasim0014 .Can you please assign it to me?

[2021-10-15 06:19] Priya7781 commented on #2532
I want to contribute to this issue. Can u assign it to me @keshavsingh4522

[2021-10-15 07:04] smidhunkks opened #2638 "Hacktoberfest is not accepting this repo."
Takes a maze as input and finds the path to get out of the maze using backtracking

[2021-10-15 07:31] #2638 closed, assigned to nobody

[2021-10-15 09:19] alpha-photon commented on #2325
Hey, I can help to resolve this issue . Please assign this to me.

[2021-10-15 12:47] AdamyJain commented on #2595
I would like to work on this. Please assign this to me.
Thank you

[2021-10-15 12:52] AdamyJain opened #2655 "Feature: Calculator for number conversions"
### Is your feature request related to a problem? Please describe.

Number conversions are highly in-demand for students, developers and many more.

### Describe the solution you'd like

I would like to create a Number Conversion Calculator for converting numbers into various base numbers.

### Describe alternatives you've considered

Features included:
-  Binary
- Decimal
- Base64
- Hex
- ASCII

[2021-10-15 12:53] AdamyJain commented on #2655
I would like to work on this.
Thank you

[2021-10-15 23:17] FieldMarshallObvious commented on #2595
If it's still possible, could I get assigned to this?

[2021-10-16 01:56] Sagun-png commented on #80
@ashwani29 No. That's what I said, hactoberfest is excluding this account PR's

[2021-10-16 06:53] Badhusha-Akhthaar opened #2692 "Feature: Check given number is Triangular , Tetrahedral or Pentatope : JS"
The purpose of this repository is, to check whether the given number is a triangular, tetrahedral or pentatope number or not. An additional feature will be like, if a number doesn't belong to one type, we can check what type does it fit

####  Example :  The numbers 1,3,6 belongs to Triangular.  Numbers 1,4,10 belong to tetrahedral.

[Triangular](https://upload.wikimedia.org/wikipedia/commons/thum

[2021-10-16 07:19] Arkashish commented on #1796
Can you please merge my pull request #2694

[2021-10-16 11:47] #2595 closed, assigned to nobody

[2021-10-16 18:41] aaditya9899 commented on #225
hey can i work on this

[2021-10-16 19:00] PreetiBaskey commented on #2618
hey @drashtipatel2503 , i have one app idea with me and also i have just started making it. I am just requesting you PR. You can look on it and let me know if you like it or not. If you like it , kindly accept my PR.
Thank You.

[2021-10-16 19:14] vivek-0110 commented on #2692
hii @Badhusha-Akhthaar I would like to provide the solution to the above mentioned issue in c++ language kindly assign this to me

[2021-10-16 21:41] nightlark opened #2743 "Remove the `hacktoberfest` topic to avoid misleading people into thinking their PRs will count"
You should remove the `hacktoberfest` topic to prevent people from being misled into thinking PRs made to this repository will give credit towards the 4 PRs needed to get a tree/shirt.

See the bottom section of https://hacktoberfest.digitalocean.com/resources where it says:
[code]

[2021-10-17 01:35] Thuvan96 commented on #2423
Please assign me to this issue

[2021-10-17 06:57] Tanushree-Ghosh commented on #2204
@keshavsingh4522 & @CodingForTheBetter I have solved this issue kindly merged my PR #2760.

[2021-10-17 11:13] himanshuv242 commented on #2325
Please assign me this issue sir i'm a beginner and want to start.

[2021-10-17 20:00] PushkarAdhyapak commented on #2743
Thanks @nightlark  for telling this. I did not know this

[2021-10-19 02:33] srinivasthedeveloper opened #2890 "Feature: create an odd or even program"
in your fav language try to make the most stupid odd or even program

[2021-10-19 02:53] DurveshKumarPal opened #2892 "."
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-10-19 02:55] DurveshKumarPal commented on #2892
Add java code for those who are interested in java programming.

[2021-10-19 02:57] #2892 closed, assigned to nobody

[2021-10-19 03:04] DurveshKumarPal commented on #2890
@srinivasthedeveloper can you assign me under HacktoberFest2021

[2021-10-19 03:15] DurveshKumarPal commented on #2325
@keshavsingh4522  @Dishant Israni   Check My PR #2894

[2021-10-19 03:29] DurveshKumarPal commented on #2290
@anugyaparashar create SQL REPO #2895

[2021-10-19 04:21] anshshankar commented on #2890
@srinivasthedeveloper please assign me

[2021-10-19 04:51] rahultg1411 commented on #2890
@srinivasthedeveloper please assign this to me

[2021-10-19 05:27] #2325 closed, assigned to nobody

[2021-10-19 07:09] Anuja1510 commented on #2532
I would like to work on this issue under Hacktoberfest2021. I can implement the selection sort algorithm in CPP. Please assign it to me.

[2021-10-19 08:56] bhumithakur commented on #2890
@srinivasthedeveloper please assign this to me i'll code this in different way

[2021-10-19 09:04] akarshlahariya11 commented on #2890
@srinivasthedeveloper please assign me this issue.

[2021-10-19 12:28] Polokghosh53 opened #2937 "Excluded project"
Edit the readme file and write excluded project there as now it is excluded.

[2021-10-19 13:54] Tharunkumar1411 commented on #2890
can you assign this issue for me?

[2021-10-19 14:14] LazyMagician commented on #2890
Please assign me this issue as my first contribution to hactoberfest 2021 @srinivasthedeveloper

[2021-10-19 15:21] soumyo2002 commented on #2890
Dear @srinivasthedeveloper sir, Please assign me this task and I shall finish it in no time. It will be really helpful as it will become my first contribution. Thank you

[2021-10-19 16:22] ishita1505 commented on #2890
@srinivasthedeveloper sir, please assign this task to me . It will be very helpful. Thankyou.

[2021-10-19 16:43] Polokghosh53 commented on #2937
Yes, it is excluded.

On Tue, 19 Oct 2021 at 21:13, Naman ***@***.***> wrote:

[2021-10-20 00:51] lrnzdc3696 commented on #1862
https://github.com/keshavsingh4522/hacktoberfest2021/pull/2969

[2021-10-20 05:36] SachinDabhade opened #2983 "Adding Snake, Water and Gun game in python"
Here, I want to add the new small game using python. In this game, we use the letters in placeholders with snake, water and gun.

[2021-10-20 05:39] SachinDabhade opened #2987 "Adding healthy programmer program in python"

[2021-10-20 05:54] Ankur7-7 commented on #2532
Hey @qasim0014, I want to contribute in this issue. kindly assign me this issue.
Thank You.

[2021-10-20 06:35] Akanksha2403 commented on #2288
i like to give a java solution to this issue . Please assign me

[2021-10-20 06:44] prabhavagrawal7 opened #2997 "Feature: Adding a spam bot using python"

[2021-10-20 07:03] #2997 closed, assigned to nobody

[2021-10-20 08:05] SajalGupta0306 commented on #2618
@drashtipatel2503 I have already created a news application with react. Have a look here.
https://github.com/SajalGupta0306/Newsroom

Would you like me to add anything for you?

[2021-10-20 09:34] rajanitnavapara opened #3005 "Feature : Stone Paper Scissor game"
Add Stone Paper Scissor game.

[2021-10-20 09:35] rajanitnavapara commented on #3005
I want to work on this issue @keshavsingh4522 Please allow me for that.

[2021-10-20 18:27] tejasvising commented on #3005
Hey? Can you please assign this to me?

[2021-10-21 05:31] sumityagi597 commented on #2631
I am interested in doing this project.
Thank You

[2021-10-21 13:48] Nikhil3389 commented on #2983
Please assign this issue to me I can fix it

[2021-10-21 16:54] real-phoenix commented on #2532
Hello @qasim0014  and @keshavsingh4522  I would like to work on this issue under Hacktoberfest2021, I can implement the selection sort algorithm in CPP as I am  fluent with C++ ,  Data Structures and Algorithms , Please assign this to me.
Thanks in Advance.

[2021-10-21 17:03] real-phoenix commented on #2594
Hello @ShiviDev  and @keshavsingh4522  , I am student of IIT Roorkee Uttarakhand India , I have a strong background in Maths and Programming.

I can easily calculate the Volume of figures Cuboid , Cylinder , Prism , Sphere , Square or Rectangular Pyramid , Right Circular Cone , Tetrahedron , Ellipsoid.

Kindly  assign me this work.

[2021-10-21 17:09] real-phoenix commented on #2890
Hello @srinivasthedeveloper  and @keshavsingh4522 I would like to work on this issue under Hacktoberfest2021, I can implement the selection sort algorithm in CPP as I am fluent with C++ , Data Structures and Algorithms , Please assign this to me.
Thanks in Advance.

[2021-10-21 17:14] real-phoenix commented on #2987
@SachinDabhade Sir if you can describe more about the program , then maybe I can code this Problem.

Is it something like , amount of calories required for different age groups of programmers.
User will input the age , and we can Output the Range of Calories for a healthy Programmer , Or maybe the most peferred Meal for the same.

[2021-10-21 17:17] shreykpatnaik commented on #2890
Please assign this to me. I would like to work upon this as my first contribution for this season.

[2021-10-21 17:37] AsmaIbrahimButt commented on #2890
@srinivasthedeveloper KIndly assign to me.I will do this in a different way that will be helpful for others too.thanku

[2021-10-21 17:40] #2594 closed, assigned to nobody

[2021-10-22 03:41] Loveena28 commented on #2890
@srinivasthedeveloper I would like to work on this issue. Please assign me this one.

[2021-10-22 04:02] #2890 closed, assigned to nobody

[2021-10-23 07:23] #3005 closed, assigned to nobody

[2021-10-24 04:41] SachinDabhade commented on #2983
Added Snake, water and gun game in python #2983

[2021-10-24 20:40] msriaz commented on #2692
hi @Badhusha-Akhthaar I would like to provide the solution to the above mentioned issue in JS kindly assign this to me

[2021-10-26 18:43] SoumyoNathTripathy commented on #2983
I would to love to contribute to this issie.

[2021-10-26 18:45] SoumyoNathTripathy commented on #2655
I would love to work this task. Please assign me this task

[2021-10-28 11:46] ShivamKumarSah opened #631 "This is not a Hacktoberfest 2021 Repo by the way, remove this please!"
Stop doing this, @keshavsingh4522  this project is actually already marked by Hacktober Fest "Excluded Project" . so remove this Hacktober Fest tag.

[2021-10-28 12:58] ghost commented on #2987
I already made a project on this topic.
Can you assign this issue to me?

[2021-10-30 09:02] tusharjha44 opened #3623 "Binary Tree missing in DSA."
### Describe the Error

### Expected behavior

### Additional context

[2021-10-30 09:04] tusharjha44 commented on #3623
@keshavsingh4522 as this repo does not contain any information on one of the DSA topic Binary Tree. I would like to add some some traversals and build tree from that traversals method.

Please assign this issue to me

[2021-10-31 15:37] naahi-rihan opened #3716 "Feature:"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-10-31 15:39] naahi-rihan opened #3717 "Error:"
### Describe the Error

### Expected behavior

### Additional context

[2021-10-31 15:42] naahi-rihan opened #3718 "programming books"
[MathForMachineLearningNotes.pdf](https://github.com/keshavsingh4522/hacktoberfest2021/files/7449155/MathForMachineLearningNotes.pdf)
[Ruby-On-Rails-pdf.pdf](https://github.com/keshavsingh4522/hacktoberfest2021/files/7449156/Ruby-On-Rails-pdf.pdf)
[Analytics in a Big Data World The Essential Guide to Data Science and its Applications by Bart Baesens (z-lib.org).pdf](https://github.com/keshavsingh4

[2022-02-10 10:26] #2423 closed, assigned to nobody

[2022-02-10 10:26] #1862 closed, assigned to nobody

[2022-05-09 11:59] dip14-j commented on #3718
can i suggest some books .

[2022-05-09 12:12] dip14-j commented on #3718
https://www.infobooks.org/free-pdf-books/computers/programming/

[2022-07-25 18:32] atanughosh01 commented on #2254
fixes #2254

[2022-07-25 18:32] #2254 closed, assigned to nobody

[2022-09-30 16:22] Sumercode commented on #3623
Please assign this task to me

[2022-09-30 19:51] Ishantgarg-web commented on #3623
please assign this task to me

[2022-10-01 04:53] Nikhil3389 commented on #2937
please assign this task to me

[2022-10-01 15:56] Ayushisri29 commented on #3623
please assign this to me i would like to work on it

[2022-10-02 04:26] not-abhinyaay opened #3855 "Feature: Book Allocation problem to be added"
I would like to add C++ probelm in the repo

[2022-10-02 07:42] ankytastic opened #3868 "Feature: identical tree problem"
### Given two binary trees, the task is to find if both of them are identical or not.

### I want to add a code for the same question

### This question has been asked by-Amazon,Microsoft,Flipkart

### I have used optimized approach to solve the problem
### I would like to make pr for this issue under Hacktoberfest 2021. Kindly assign me this issue.

[2022-10-02 07:42] mprsAbhinavShri commented on #2983
@keshavsingh4522 sir please assign me this project

[2022-10-02 08:17] janvikumariii commented on #2618
Is this issue still open?

[2022-10-02 08:46] Himanshi2511 opened #3876 "Feature:"
## Vertical order traversal

The repo does not contain the code for vertical order traversal of the binary tree.

This question has been asked in various company interviews including Microsoft, Flipkart, Amazon  and many others

I would like to contribute to this code pls assign this to me @keshavsingh4522

[2022-10-02 08:49] cyano004 opened #3877 "Feature:kadane's algorithm in c++"
I would like to add kadane's algorith in c++ language.

[2022-10-02 08:52] cyano004 opened #3878 "Feature: Longest palindromic subsequence in cpp"
I would liike to add unique solution to the longest paliindromic subsequence in cpp

[2022-10-02 10:17] sgaurav37533 commented on #3877
please assign this issue to me

[2022-10-02 10:37] heyhimansh commented on #3878
hey i would like to add cpp solution for this

[2022-10-02 13:58] abhaysingla05 commented on #3878
Assign me this !!

[2022-10-02 13:59] abhaysingla05 commented on #3877
Assign me this !!

[2022-10-02 14:03] coder-dash23 commented on #3877
please assign this issue to me

[2022-10-02 14:04] coder-dash23 commented on #3623
I want to add binary tree in binary tree in DSA please assign this issue to me

[2022-10-02 14:27] horcrux11 commented on #3877
Hey..assign this,
 please.

[2022-10-02 14:45] nikita24383 opened #3893 "Feature: Memory game using html, css and js"
### I would like to add memory card game using html, css and js

[2022-10-02 15:39] nikita24383 opened #3895 "Feature: Finding parent of a node from post-order traversal"
## Finding parent of a node from post-order traversal

Given the height of tree finding the parent of a particular node from post order traversal.
I'd like to add this code in python.

[2022-10-02 18:15] adityjoshi commented on #3895
hey @nikita24383 can I contribute to this issue

[2022-10-02 18:24] Ervin0307 commented on #3877
Hello, I would like to work on this issue. Please assign it to me.

[2022-10-02 18:45] nikita24383 commented on #3895
hello! @adityjoshi i apologize but I'd like to work on this issue

[2022-10-03 03:11] rajmayank93 opened #3904 "Feature: Want to Add my cpp project of car Sales Management System (OOPS based)"
IT IS VERY COOL PROJECT AND WILL HELP ALOT OF PEOPLE. I USED OOPS CONCEPT WITH FILE HANDLING.
please assign me task to this feature .

[2022-10-03 07:42] deveshparmar commented on #3877
hey, please assign this issue!

[2022-10-03 10:00] AmanGit010 opened #3913 "Does this repo's PRs getting accepted by Hacktoberfest ?"

[2022-10-03 12:35] narwar-veer opened #3916 "Feature: STL"
### Is your feature request related to a problem? Please describe.

STL is difficult to understand and use to newbies.

### Describe the solution you'd like

I will contribute a simple documentation along with simple codes

### Describe alternatives you've considered

### Additional context

[2022-10-03 15:39] #3893 closed, assigned to nobody

[2022-10-03 15:40] #3895 closed, assigned to nobody

[2022-10-03 17:00] sajal-19 commented on #3868
I want to contribute to this problem. I have a very efficient solution to this problem  with time complexity O(min(N, M)).
Kindly assign me this problem

[2022-10-03 18:16] Ultron03 opened #3923 "Feature: Activity Selection"

[2022-10-03 21:29] Prakashd05 commented on #3877
Please assign this issue to me

[2022-10-04 06:10] Manav39 commented on #2618
can you assign me this?

[2022-10-04 10:46] AnmolShukla2002 commented on #3877
Please assign this issue to me!!

[2022-10-04 12:13] yuvicc opened #3934 "I would like to add more leetcode solutions"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-10-04 12:14] yuvicc commented on #3934
Please assign me

[2022-10-04 13:30] mohansharma22 commented on #3855
hey @keshavsingh4522  can you please assign it to me ?

[2022-10-04 19:09] sagnik036 opened #3941 "Feature: wifi extrator using python"
### Is your feature request related to a problem? Please describe.
a simple python program that can extract wifi password of the wifi profiles stored in your pc

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-10-04 19:10] sagnik036 commented on #3941
#hacktober contribution

[2022-10-06 08:00] narwar-veer commented on #3916
I am waiting for your permission.

[2022-10-06 08:14] Amey-Chaudhari commented on #2983
Please assign me this issue. I would like to contribute to it

[2022-10-06 08:38] Anupamk06 commented on #3877
please assign this task to me

[2022-10-06 09:25] anmol111pal commented on #3941
Hey, please assign me this task/issue.

[2022-10-06 09:26] anmol111pal commented on #3904
Please assign me this task.

[2022-10-06 09:43] hetparekh16 commented on #3913
Yes I guess it does. Give it a try

[2022-10-06 13:55] amanverma2253 commented on #3934
please assign it to me.

[2022-10-06 13:56] amanverma2253 commented on #3877
please assign it to me.

[2022-10-06 14:02] adivya-jain commented on #3934
please assign it to me

[2022-10-06 14:03] tanvi1110 commented on #3934
Please assign me, I would love to contribute.

[2022-10-06 19:38] sn10-debug commented on #3941
Hey @sagnik036 Can you please assign me this issue.

[2022-10-07 09:45] tanvi1110 commented on #3913
How to work on the repo? .. what code to submit

[2022-10-07 09:48] hetparekh16 commented on #3913
There is a section of issues in the repo, check that issue and pick one and
solve it. You're done

On Fri, Oct 7, 2022, 3:16 PM Tanvi ***@***.***> wrote:

[2022-10-07 17:50] vkaash-sharma commented on #3934
please assign to me ! i love to do this recently I completed more than 250 question in leetcode

[2022-10-07 17:52] vkaash-sharma commented on #3878
i can do this by using another approach please assign to me

[2022-10-07 17:53] vkaash-sharma commented on #3877
i love to work on this please assign this to me!!

[2022-10-07 18:48] Ankurrawat-12 opened #4027 "Feature: Automatically add the contributers images in readme file and make it more beautifull"

[2022-10-07 18:49] Ankurrawat-12 commented on #4027
can i have this issue i would like to work on it

[2022-10-07 19:06] Ankurrawat-12 commented on #4027
@keshavsingh4522

[2022-10-07 22:15] Sakshiwalode28 commented on #3877
I would like to work on this issue please assign it to me.

[2022-10-07 22:16] Sakshiwalode28 commented on #3878
I would like to work on this issue please assign it to me.

[2022-10-08 06:23] abhikumar63 commented on #3923
Hey @Ultron03 , I would like to work on this. Please assign this to me.

[2022-10-08 15:30] akanshkumar1 commented on #3718
Hey Keshav, Can I suggest some good books

[2022-10-08 16:21] AdityaSai2004 commented on #3878
@keshavsingh4522  I would like to share my solution for this. Would be great if I can get assigned to it.

[2022-10-08 17:02] VAIBHAV-25 commented on #3877
// C++ program to print largest contiguous array sum
#include <bits/stdc++.h>
using namespace std;

int maxSubArraySum(int a[], int size)
{
	int max_so_far = INT_MIN, max_ending_here = 0;

	for (int i = 0; i < size; i++) {
		max_ending_here = max_ending_here + a[i];
		if (max_so_far < max_ending_here)
			max_so_far = max_ending_here;

		if (max_ending_here < 0)
			max_ending_here = 0;
	}
	return m

[2022-10-08 17:06] Riya-2211 commented on #3877
// C++ program to print largest contiguous array sum
#include <bits/stdc++.h>
using namespace std;

int maxSubArraySum(int a[], int size)
{
	int max_so_far = INT_MIN, max_ending_here = 0;

	for (int i = 0; i < size; i++) {
		max_ending_here = max_ending_here + a[i];
		if (max_so_far < max_ending_here)
			max_so_far = max_ending_here;

		if (max_ending_here < 0)
			max_ending_here = 0;
	}
	return m

[2022-10-08 17:08] Riya-2211 commented on #3878
#include<bits/stdc++.h>
using namespace std;

// A utility function to get max of two integers
int max (int x, int y) { return (x > y)? x : y; }

// Returns the length of the longest palindromic subsequence in seq
int lps(char *seq, int i, int j)
{
// Base Case 1: If there is only 1 character
if (i == j)
	return 1;

// Base Case 2: If there are only 2
// characters and both are same
if (seq[i] ==

[2022-10-08 17:15] Riya-2211 commented on #3855
// C++ program for optimal allocation of pages
#include <bits/stdc++.h>
using namespace std;

// Utility function to check if current minimum value
// is feasible or not.
bool isPossible(int arr[], int n, int m, int curr_min)
{
	int studentsRequired = 1;
	int curr_sum = 0;

	// iterate over all books
	for (int i = 0; i < n; i++) {
		// check if current number of pages are greater
		// than curr_mi

[2022-10-08 17:17] Riya-2211 commented on #3868
// C++ program to see if two trees are identical
#include <bits/stdc++.h>
using namespace std;

/* A binary tree node has data, pointer to left child
and a pointer to right child */
class node {
public:
	int data;
	node* left;
	node* right;
};

/* Helper function that allocates a new node with the
given data and NULL left and right pointers. */
node* newNode(int data)
{
	node* Node = new node();

[2022-10-08 17:18] manoj1749 commented on #4027
@keshavsingh4522 I had added this feature, the changes I had made you can see in the above pr and can merge it

[2022-10-08 19:27] Dharanash commented on #4027
I would like to contribute

[2022-10-09 04:19] divyachopra14 opened #4053 "Feature: Want to add a Python Project (Automatic Number Plate Recognition)"
### Is your feature request related to a problem? Please describe.
Yes, want to add a Automatic Number Plate Recognition project, which is a computer vision project using OpenCV and EasyOCR.

Want to add more good projects to add value to the repository

### Describe the solution you'd like

I would like to submit a full fledged project that can detect car number plates and can extract the license

[2022-10-09 05:16] iamhere1811 commented on #2692
hi @Badhusha-Akhthaar I would like to provide the solution of this issue so please assign this task to me

[2022-10-09 06:06] manoj1749 commented on #4027
@Dharanash I had already made a pr about it, u can see above. Check for other issues

[2022-10-09 06:16] kbhavre commented on #3934
Please assign this taks to me

[2022-10-09 08:18] itsrishav17 commented on #3916
I want to contribute to this project can you please assign me?

[2022-10-09 08:20] itsrishav17 commented on #3877
I want to work on this project can you please assign it to me?

[2022-10-09 08:21] itsrishav17 commented on #3876
I want to contribute to this project can you please assign it to me?

[2022-10-09 09:38] Ankurrawat-12 commented on #4027
@manoj1749 this issue was not assigned to you, I raised the issue. you just made a pr.

[2022-10-09 09:39] Ankurrawat-12 commented on #4027
wait till @keshavsingh4522  says anything.

[2022-10-09 09:41] manoj1749 commented on #4027
@Beast71421 I saw the issue first and it’s been a day it was opened even though that’s a small task. So I had made a pr. Like I seen in many repos ppl make issues for others to contribute. so i made it

[2022-10-09 09:42] manoj1749 commented on #4027
You can work try to make it more good after @keshavsingh4522 merged it

[2022-10-09 09:48] Ankurrawat-12 commented on #4027
@manoj1749 ok I will look into it, but you know I asked for this issue.

[2022-10-09 11:05] 035pratheeksha commented on #3877
I would like to work on this issue please assign it to me.

[2022-10-09 11:18] manoj1749 commented on #4027
btw this repo is excluded from hactoberfest @Beast71421
<img width="498" alt="Screenshot 2022-10-09 at 4 47 47 PM" src="https://user-images.githubusercontent.com/83648898/194753915-0458e4c3-5ca3-4d11-8fd6-5afa31d82f96.png">

[2022-10-09 11:20] Ankurrawat-12 commented on #4027
oh ok no problem then, but I am a beginner so I was just doing this to gain more experience. but thanks and no hard feelings @manoj1749

[2022-10-09 11:21] manoj1749 commented on #4027
btw it's not about who made the issue or who asked it first until someone is assigned, it's about who completed it first.

[2022-10-09 11:22] Ankurrawat-12 commented on #4027
I got it man

[2022-10-09 19:54] Aryaman047 commented on #3916
I want to contribute to this project and would like to contribute by providing a detailed documentation, possibly video explanations and provide sample codes if it's about teaching.

If STL has to be implemented in a program, I am confident to provide an accurate solution

[2022-10-10 05:41] ragnarok-02 commented on #4053
Can you please assign this to me?

[2022-10-10 05:42] ragnarok-02 commented on #3878
I would like to work on this issue, please assign this to me.

[2022-10-10 06:51] theshreyaa commented on #3623
Hey ! I would love to work on this by making my first Hacktoberfest submission.
It would be great if I can get some more info to work with

[2022-10-10 06:54] theshreyaa commented on #4053
Hey ! I would love to work on this by making my first Hacktoberfest submission.
It would be great if I can get some more info to work with

[2022-10-10 06:54] theshreyaa commented on #4027
Hey ! I would love to work on this by making my first Hacktoberfest submission.
It would be great if I can get some more info to work with

[2022-10-10 07:55] mprsAbhinavShri commented on #2983
@keshavsingh4522 sir please assign me this

you would like my contribution bcz i made it so clear that it can be very smooth to understand my code flow.
please sir allow me to contribute

[2022-10-10 08:02] manoj1749 commented on #4027
@shreya3106 a pr is been already made regarding this issue and btw this repo is excluded from hacktoberfest

[2022-10-10 08:44] Jayant-001 commented on #3623
Hello, I am interested to work on  this issue.
Could you please assign it to me.

[2022-10-10 08:48] Jayant-001 commented on #2628
Hello, I am interested to work on  this issue.
Could you please assign it to me.

[2022-10-10 10:53] Harsh-raj-x07 commented on #4053
Hey @divyachopra14 can you pls assign me ?

[2022-10-10 12:20] manojku1803 commented on #4053
Hello, Can you please assign this issue to me?

[2022-10-10 13:33] Saloni098 commented on #3913
Is the repo excluded?

[2022-10-10 16:18] tamil-code commented on #3934
hey looking to contribution please assign this to me @keshavsingh4522

[2022-10-11 02:24] arnav-vivian commented on #3934
Heyyy! this is my first hacktoberfest participation. i am really looking to work out this for you.

[2022-10-11 02:26] arnav-vivian commented on #3877
Heyyy! i would love to work on this problem.please assing it to me.

[2022-10-11 04:50] Saurav013 commented on #3718
Hey @keshavsingh4522 , I would feel grateful to share some of most used programming books, Can I suggest?

[2022-10-11 05:09] SusavanMondal commented on #3941
Hello, I am interested to solve this issue. Please assign it to me

[2022-10-11 05:41] PurtiMishra commented on #3855
@keshavsingh4522 Hello Sir! Can you assign this to me?

[2022-10-11 06:57] mayank-9 commented on #3623
Hey ! I would love to work on this ,
Could you please assign it to me.

[2022-10-11 09:07] ghost commented on #3718
can you assign me

[2022-10-11 14:03] pal-NIKHIL commented on #3855
Hii @abhinyaayy Can you just assign this to me

[2022-10-11 16:17] ghost commented on #4053
assign me this dear,i would like to solve this

[2022-10-11 16:17] ghost commented on #3878
assign me this

[2022-10-11 16:19] Coolstormaction opened #4103 "Feature: Browser in pyqt5"
### Is your feature request related to a problem? Please describe.
not related to a problem

### Describe the solution you'd like

a browser, written in pyqt5

[2022-10-11 16:21] #4103 closed, assigned to nobody

[2022-10-11 16:24] manoj1749 opened #4104 "Error: This Repo Is Excluded from Hactoberfest"

[2022-10-11 16:31] Coolstormaction opened #4105 "Feature: clone of some basic unix commands"
Just some clone of basic unix commands
I will merge any pr if its good

[2022-10-11 16:32] #4105 closed, assigned to nobody

[2022-10-11 16:32] glowpixel opened #4106 "Feature: Clone of some basic unix commands"
Clone of basic unix commands in python, with some terminal styling

I will merge good prs

[2022-10-11 16:33] Coolstormaction commented on #4106
Can you assign this problem to me?

[2022-10-11 16:36] #4106 closed, assigned to nobody

[2022-10-11 16:37] glowpixel opened #4107 "Write code for some basic unix commands"
Write code for some basic unix commands in python

[2022-10-11 16:38] Coolstormaction commented on #4107
can you assign this problem to me?

[2022-10-11 16:44] #4107 closed, assigned to nobody

[2022-10-11 18:17] Roopshali opened #4114 "Fidget Spinner Game using python"

[2022-10-11 18:18] Roopshali commented on #4114
I have the code ready for the same. Please assign it to me under hacktoberfest-accepted tag.

[2022-10-11 19:03] Roopshali opened #4115 "Add merge sort implementation using python"

[2022-10-11 19:05] #4115 closed, assigned to nobody

[2022-10-11 19:27] kanikarajpal commented on #3877
Can you please assign this to me?

[2022-10-11 19:28] kanikarajpal commented on #3878
Can you please assign this to me?

[2022-10-13 06:28] manoj1749 commented on #4114
this repo is excluded from hacktoberfest. there's no use of contributing to it

[2022-10-13 09:16] the-luminarae opened #4134 "Feature: I Would like to add Some BASIC IDEAS ABOUT C++."
Like boiler plates, functions, etc

[2022-10-13 09:17] the-luminarae commented on #4134
Please assign it to me

[2022-10-14 05:11] Abhi-goyal1 commented on #3904
Hey, as this is my first Hacktoberfest, I want to contribute this issue

[2022-10-14 05:12] Abhi-goyal1 commented on #3718
Hey, as this is my first Hacktoberfest, I want to contribute this issue

[2022-10-14 07:46] being-nitin commented on #3934
hey could you assign this task to me please.

[2022-10-14 19:49] Abhi-goyal1 commented on #4053
hello sir ,
please assign me this issue

[2022-10-14 22:42] naahi-rihan commented on #3718
Hi Abhi Goyal
you can contribute

On Fri, 14 Oct 2022, 11:12 am Abhi Goyal, ***@***.***> wrote:

[2022-10-16 09:49] Om12Dahale commented on #3934
Hi sir looking forward to contribute, please assign this task to me.

[2022-10-16 11:15] #3916 closed, assigned to nobody

[2022-10-16 12:12] mofris opened #4175 "Error:"
### Describe the Error

### Expected behavior

### Additional context

[2022-10-16 16:54] Aniketmishra0 commented on #3623
Can you assign me

[2022-10-16 17:25] PRIYANSHUKUMAR22 commented on #4134
Hi, please assign it to me

[2022-10-16 17:26] PRIYANSHUKUMAR22 commented on #3941
Hi, please assign it to me

[2022-10-17 11:50] konan625 commented on #4134
By basic do you mean - STL, Loops , conditional statements, data types supported by this language right?
Please assign this task to me ,I can work on this one.

[2022-10-17 12:13] Rohit321-bit commented on #3855
Hi, can you please assign this to me?

[2022-10-18 12:00] gaurijoshi22 opened #4205 "String game using Java"
This code predicts the output of game if two players play optimally.
Please assign me this issue.

[2022-10-18 14:00] tansugangopadhyay opened #4207 "Feature: LeetCode Solutions"
### Is your feature request related to a problem? Please describe.
It will provide all the solutions of leetcode

[2022-10-18 14:01] #4207 closed, assigned to nobody

[2022-10-18 16:54] GeeteshMehto commented on #4205
Hello sir, please assign this issue to me as i already worked on this kind of project in past and has a great experience.

[2022-10-20 06:41] kushantgarg commented on #4134
According to me basics means:
1. Syntax
2. conditional Statements
3. loops
4. and basic OOPS
5. and then if required than a very brief knowledge of Standard Template Library

[2022-10-22 05:15] AnujaDixit12 commented on #3623
Hello sir, can you please assign me this issue . I would like to contribute.

[2022-10-22 05:17] AnujaDixit12 commented on #2532
Hello sir, can you please assign me this issue . I would like to contribute.

[2022-10-22 05:19] qasim0014 commented on #2532
Closed

[2022-10-22 05:19] #2532 closed, assigned to nobody

[2022-10-23 06:14] shahrushi2003 commented on #4134
Please assign this issue to me.

[2022-10-23 06:17] shahrushi2003 commented on #2461
I will add a Logistic Regression Algorithm in Python with GOOD DOCUMENTATION. Please assign this issue to me.

[2022-10-23 08:57] MeeranHusain opened #4291 "Feature:"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-10-23 14:49] sp-gits commented on #4205
**can you assign this issue to me ?**

[2022-10-23 14:49] sp-gits commented on #3623
**can you assign this issue to me ?**

[2022-10-23 14:50] sp-gits commented on #3716
**can you assign this issue to me ?**

[2022-10-23 14:50] sp-gits commented on #3923
**can you assign this issue to me ?**

[2022-10-23 14:50] sp-gits commented on #3934
**can you assign this issue to me ?**

[2022-10-23 17:39] being-nitin commented on #3934
Ho sir can you assign this issue to me ?

[2022-10-23 18:42] naahi-rihan commented on #3716
you can work on it

On Sun, 23 Oct 2022, 8:50 pm Snehasish Pathak, ***@***.***>
wrote:

[2022-10-25 18:08] shraddhatech16 commented on #4291
Assign this issue to me pls

[2022-10-26 06:11] prabhat108 commented on #3623
HEY PLEASE ASSIGN IT TO ME

[2022-10-26 06:11] prabhat108 commented on #3855
HEY PLEASE ASSIGN IT TO ME

[2022-10-26 06:12] prabhat108 commented on #3877
HEY PLEASE ASSIGN IT TO ME

[2022-10-26 06:12] prabhat108 commented on #3878
HEY PLEASE ASSIGN IT TO ME

[2022-10-27 10:12] akshat2203 commented on #3941
Hello @sagnik036  Can you please assign me this issue.?

[2022-10-29 21:50] piojagcodes commented on #4053
Welcome
I would like to give a shot. Not mine first hackathon and also last.
Take care

[2022-10-30 18:54] Ashishbit01 commented on #3877
hey, I would like to on this issue plz assign it to me